:root {
	--fg-color: #ffffff;
	--fg-color-alt: #cecece;
	--primary-color: #007aff;
	--primary-color-light: #409cff;

	--close-color: #ff453a;
	--close-hover-color: #b32821;
	--minimize-color: #ffd60a;
	--minimize-hover-color: #d2c12c;
	--maximize-color: #30d158;
	--maximize-hover-color: #2b9a46;
}
