.terminal {
	display: block;
	position: relative;
	background-color: rgb(41, 41, 54);
	border-radius: 10px;
	box-shadow: 8px 13px 22px rgba(0, 0, 0, 0.42);
	resize: both;
	border: solid 1px #3e3e3e;
	color: var(--fg-color-alt);
	height: 100%;
	width: 100%;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 7.5px 5px;
		cursor: pointer;
	}
	&__title {
		cursor: default;
		flex: 1;
		font-size: 0.8755rem;
		text-align: center;
	}
	&__body {
		display: block;
		height: 100%;
		width: 100%;
		padding: 10px;
		font-family: monospace;
	}
	&__alias {
		color: var(--primary-color-light);
	}
}
